  jobs:
    - job: ACR_DockerCompose
      continueOnError: false
      steps:
      - task: DockerCompose@0
        displayName: 'DockerCompose and push images to container registry'
        inputs:
          action: Push services
          azureSubscriptionEndpoint:  ${{ parameters.azureSubscriptionEndpoint }}
          azureContainerRegistry: ${{ parameters.containerRegistry }}
          dockerComposeFile: ${{ parameters.dockeComposeFfile }}
          projectName: $(Build.Repository.Name)
          qualifyImageNames: true
          additionalImageTags: ${{ parameters.BuildId }}